
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/CSS//Site.css" />
    </head>
    <body>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home Page</a></li>
            <li><a asp-controller="Home" asp-action="About">About Page</a></li>
            <li><a asp-controller="Home" asp-action="Gallery">Gallery Page</a></li>
        </ul>
        <header>
            <h1>Welcome to my first Site</h1>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy;@DateTime.Today.Year
        </footer>
    </body>
</html>